<% if current_user %>
  <nav class="navbar">
    <%= link_to_previous_page("<") %>
    <h2><%= @title %></h2>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-log" %>
  </nav>
<% end %>
