<div class = "splash-container">
  <section class = "logo-container">
    <h1>My Budget</h1>
  </section>

  <section class = "buttons-container">
    <%= link_to "LOG IN", new_user_session_path, class: "btn btn-blue" %><br />
    <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-white" %><br />
  </section>
</div>
